[submodule "Gigahawk.pretty"]
	path = Gigahawk.pretty
	url = https://github.com/Gigahawk/Gigahawk.pretty.git
[submodule "lcsc-kicad"]
	path = lcsc-kicad
	url = https://github.com/Gigahawk/lcsc-kicad.git
[submodule "scripts/kicad_parser"]
	path = scripts/kicad_parser
	url = https://github.com/realthunder/kicad_parser.git
